---





    const response = await fetch('https://programming-quotesapi.vercel.app/api/random');
    const quote = await response.json();
   


---





  <section class="bg-gray-500 p-4">
    <h1 class = "text-center text-primary text-2xl">Stay a Motivated Programmer!</h1>
    </section>

    <section class="bg-blue-500 p-4">
      <h2 class="text-center text-lime-800 text-xl">{quote.quote}</h2>
      <p class="text-center text-rose-500 text-xl">By: {quote.author}</p>
    </section>
  



  
<!--
<div class="overflow-x-auto">
  <table class="table">
     head 
    <thead>
    <tr>
      <th>Color Name</th>
      <th>Color Group</th>
      <th>Color Number</th>
      
    </tr>
    </thead>
    <tbody>
    {
     
    allTheColors.colors.map( color =>
    <tr style={`background: #${color.hex}`}>
      <td>{color.name}</td>
      <td>{color.group}</td>
      <td><code>{color.hex}</code></td>
    </tr>
        )
     
  }
    </tbody>
  </table>
  </div>
-->