---
const response = await fetch('https://programming-quotesapi.vercel.app/api/random');
const quote= await response.json();
console.log(quote);

---




<h1 class = "text-center text-primary text-2xl">Stay a Motivated Programmer! Click The Button To Generate A Quote!</h1>
<div>
  {
    <h2>{quote.quote}</h2>
    <p>{quote.author}</p>
  }
</div>
<div class="flex justify-center mt-4">
  <button class="btn btn-xs sm:btn-sm md:btn-md lg:btn-lg btn-primary">Generate Quote</button>
</div>
<!--
<div class="overflow-x-auto">
  <table class="table">
     head 
    <thead>
    <tr>
      <th>Color Name</th>
      <th>Color Group</th>
      <th>Color Number</th>
      
    </tr>
    </thead>
    <tbody>
    {
     
    allTheColors.colors.map( color =>
    <tr style={`background: #${color.hex}`}>
      <td>{color.name}</td>
      <td>{color.group}</td>
      <td><code>{color.hex}</code></td>
    </tr>
        )
     
  }
    </tbody>
  </table>
  </div>
-->